.button {
    border: none;
    &.button--rounded {
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
        border-top-left-radius: 100px;
    }
    &.button--logo-color {
        background: $logo-color;
        border: 1px solid $logo-color;
    }
    &.button--white-color {
        background: $white-color;
        border: 1px solid $black-color;
    }
}

.button-back-wrapper {
    position: absolute;
    top: 15px;
    left: 15px;
    a.button-back {
        color: $logo-color;
        cursor: pointer;
        font-size: 20px;
    }
}
.test {
    position: relative;
}