.banner__image-wrapper {
    width: 100%;
    padding-top: 100%;
    position: relative;
    .banner__image-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .banner__image-show {
            background-repeat: no-repeat;
            background-size: contain;
            height: 100%;
            width: 100%;
            background-position: center;
            &.banner__image--banner {
                background-image: url('/../images/register-login.png');
            }
            &.banner__image--welcome-back {
                background-image: url('/../images/welcome-back.png');
            }
            &.banner__image--register-success {
                background-image: url('/../images/register-success.png');
            }
        }
    }
}

.content__text-wrapper {
    position: relative;
    &--center {
        text-align: center;
    }
    .logo-image {
        width: 120px;
    }
}