@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto&display=swap');

.text__title {
    font-size: 23px;
    color: $main-color;
    font-family: 'Montserrat', sans-serif;
}
.text__description{
    font-size: 12px;
    color: $main-color;
    font-family: 'Roboto', sans-serif;
}
.text__forgot-password {
    font-size: 10px;
    color: $main-color;
    font-family: 'Roboto', sans-serif;
}
.button {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}