.form-group-2 {
    position: relative;
    margin: 35px 0;
}
.form-control-2 {
    background: none;
    color: #c6c6c6;
    font-size: 12px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
    &:focus{
        outline: none;
        &~label {
            top: -14px;
            font-size: 10px;
            color: $second-color;
            font-weight: bold;
        }
        &~.form-control-2__bar {
            &:before {
                width: 100%;
            }
        }
    }
    &:valid {
        &~label {
            top: -14px;
            font-size: 10px;
            color: $second-color;
            font-weight: bold;
        }
    }
}
.form-control-2__label {
    color: #c6c6c6;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
}
.form-control-2__bar {
    position: relative;
    display: block;
    width: 100%;
    &:before {
        content: '';
        height: 2px;
        width: 0;
        bottom: 0px;
        position: absolute;
        background: $second-color;
        transition: 300ms ease all;
        left: 0%;
    }
}