.mobile-view--height {
    min-height: 640px;
}
.mobile-view {
    position: relative;
    max-width: 360px;
    margin: 0 auto;
    min-height: 640px;
    background: $white-color;
    overflow-x: 0;
    &--shadow {
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    }
}